<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74641002563-tmihspgmvpsdmqo2n20nr7lsd3vek129.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74641002563-tmihspgmvpsdmqo2n20nr7lsd3vek129</string>
	<key>API_KEY</key>
	<string>AIzaSyBMHwscoIPoIVUAw1q7v5YTgardxe_onvo</string>
	<key>GCM_SENDER_ID</key>
	<string>74641002563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sestier.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todofbpn</string>
	<key>STORAGE_BUCKET</key>
	<string>todofbpn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:74641002563:ios:2993405ba50c754f3c84f6</string>
	<key>DATABASE_URL</key>
	<string>https://todofbpn.firebaseio.com</string>
</dict>
</plist>
